.container{
    background: rgba(238, 241, 241, 0.836)	;
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 10px;
}

.row-user{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    margin: 5px 5px;
    background: rgb(216, 196, 228);
}

.row-user img{
    border-radius: 100px;
    width: 48px;
    height: 48px;
}